* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
    color: #fff;
}
html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 7vw;
}
#page1 h1 svg{
    height: 5vw;
    width: 5vw;
    background-color: #0BA34E;
    border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}
#page1-something h4{
    font-weight: 400;
    font-size: 2.5vw;
    text-transform: lowercase;
    margin-top: 1vw;
    padding: 5px 12px;
    border: 1px solid #cecbcb75;
    border-radius: 50px;
}
#page2 {
    height: 100vh;
    width: 100vh;
    background-color: #111;
}